@import '../../../../custom-styles/custom-styles.scss';

.cos-error-dialog{
    border: 7px solid $cos-yellow;
    padding: 22px;
    &__header{
        display: flex;
            &__title{
                h2 {
                    text-transform: uppercase;
                    font-weight: bold;
                    color: red !important;
                    letter-spacing: 2px;
                }
            }
            &__close-icon {
                flex: 1;
                text-align: right;
                cursor: pointer;
            }
    }
    &__footer {
        text-align: right;
        padding-top: 17px;
    }
}

.horizontal-line {
    border: 3px solid $cos-yellow;
    margin-left: -28px;
    margin-right: -28px;
    margin-bottom: 30px;
}