<div class="cos-error-dialog" aria-label="error dialogue popup">
    <div class="cos-error-dialog__header">
        <div class="cos-error-dialog__header__title">
        <h2>{{title}}</h2>
        </div>
        <div class="cos-error-dialog__header__close-icon">
            <mat-icon arial-label="close" class="close" mat-dialog-close (click)="onClose()">{{'close' | translate}}</mat-icon>
        </div>
    </div>
    <hr class="horizontal-line">
    <div class="cos-error-dialog__message">
        <p>{{message}}</p>
    </div>
    <div class="cos-error-dialog__footer">
        <button aria-label="press ok to close"  mat-flat-button class="cos-button-secondary" (click)="onClose()">{{'ok' | translate}}</button>
    </div>
</div>