<div class="cos-auctions">

    <div class="cos-auctions__user-title">
        {{'welcome' | translate}}{{userId}}
    </div>

    <div class="cos-auctions__title" aria-label="Current Autions">{{'currentAuctions' | translate}}</div>

    <div class="cos-auctions__body">

        <mat-card class="cos-auctions__body__auctions-card" *ngFor="let auctionItem of auctions; trackBy:trackByFunction">

            <mat-card-header>

              <mat-card-title aria-label="vehicle name">{{auctionItem['label']}}</mat-card-title>
              <mat-card-subtitle aria-label="vehicle details like make and model">{{'make' | translate}}{{auctionItem['associatedVehicle']['make']}}{{'model' | translate}}{{auctionItem['associatedVehicle']['model']}}</mat-card-subtitle>           
            
            </mat-card-header>

           <img mat-card-image src="{{getImageUrl(auctionItem)}}" alt="{{auctionItem['label']}}" width="432" height="324">
            
           <mat-card-content>

                <div aria-label= "I am the highest bidder" class="cos-auctions__body__highest-bidder" *ngIf="auctionItem['amIHighestBidder']">
                    {{'higestBidder' | translate}}
                </div>

                <div class="cos-auctions__body__auctions-card__details">

                  <div class="cos-auctions__body__container"  aria-label="first registration">
                    <div class="cos-auctions__body__item">{{'ez' | translate}}</div>
                    <div class="cos-auctions__body__item">{{auctionItem['associatedVehicle']['ez']}}</div>
                  </div>

                  <div class="cos-auctions__body__container"  aria-label="mileage in km">
                    <div class="cos-auctions__body__item"> {{'mileage' | translate}}</div>
                    <div class="cos-auctions__body__item">{{auctionItem['associatedVehicle']['mileageInKm']}}{{ 'km' | translate}}</div>
                  </div>

                  
                  <div class="cos-auctions__body__container"  aria-label="fuel type">
                    <div class="cos-auctions__body__item"> {{'fuelType' | translate}}</div>
                    <div class="cos-auctions__body__item">{{auctionItem['associatedVehicle']['fuelType']}}</div>
                  </div>

                  
                  <div class="cos-auctions__body__container"  aria-label="transmission">
                    <div class="cos-auctions__body__item"> {{'transmission' | translate}}</div>
                    <div class="cos-auctions__body__item">{{auctionItem['associatedVehicle']['transmission']}}</div>
                  </div>

                  <div class="cos-auctions__body__container"  aria-label="current highest bid value">
                    <div class="cos-auctions__body__item"> {{'currentHighestBidValue' | translate}}</div>
                    <div class="cos-auctions__body__item">{{auctionItem['currentHighestBidValue']}} {{'euros' | translate}}</div> 
                  </div>

                  <div class="cos-auctions__body__time" aria-label="remaining time"> {{'remainingTime' | translate}}   {{ getRemainingTime(auctionItem['remainingTimeInSeconds'])}}</div>
                
                </div>

            </mat-card-content>

            <mat-card-actions class="cos-auctions__body__auction-card-actions">
              <button mat-button class="cos-button-secondary" aria-label="know more about the vehicle">{{'knowMore' | translate}}</button>
            </mat-card-actions>

        </mat-card>

    </div>

</div>