<div class="cos-login-form">

    <div class="cos-login-form__title">
        <h2 id="cos-login-form__title__label">{{'Login' | translate}}</h2>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" novalidate aria-label="Login">

        <div class="cos-login-form__form-field">
          <mat-form-field class="cos-login-form__email" appearance="outline">
              <mat-label>{{'email' | translate}}</mat-label>
            <input aria-label="Enter Email" matInput type="email" name="email" id="email" placeholder="{{'emailPlaceholder' | translate}}" formControlName="email">
          </mat-form-field>

          <div class="cos-error" *ngIf="!loginForm?.controls?.valid && (loginForm?.controls?.email?.dirty ||loginForm?.controls?.email?.touched)">
            <div [hidden]="!loginForm?.controls?.email?.errors?.required">
              {{'emailRequiredError' | translate}}
            </div>
            <div [hidden]="!loginForm?.controls?.email?.errors?.email">
              {{'invalidEmailError' | translate}}
            </div>
          </div>
        </div>

        <div class="cos-login-form__form-field">
          <mat-form-field class="cos-login-form__password" appearance="outline">
              <mat-label>{{'password' | translate}}</mat-label>
            <input aria-label="enter password" matInput type="password" placeholder="{{'passwordPlaceholder' | translate}}" formControlName="password">
          </mat-form-field>

         <div class="cos-error" *ngIf="!loginForm?.controls?.valid && (loginForm?.controls?.password?.dirty ||loginForm?.controls?.password?.touched)">
            <div [hidden]="!loginForm?.controls?.password?.errors?.required">
              {{'passwordRequiredError' | translate}}
            </div>
          </div>
        </div>

        <div class="cos-login-form__form-field cos-login-form__submit-button">
        <button aria-label="press to login" mat-flat-button class="cos-button-secondary" [disabled]= "!loginForm.valid">{{'login' | translate}}</button>
        </div>

    </form>

</div>


