.cos-login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
    flex-direction: column;

    &__title{
        text-align: center;
    }
    &__submit-button {
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    .cos-login-form {
        margin-top: 2%;
    }
}
