.cos-login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
    flex-direction: column;

    &__title{
        text-align: center;
    }
    &__form-field {
        padding: 1% 0%;
        &__display-icon {
            margin-top: -25px;
            float: right;
            .mat-icon {
                cursor: pointer;
            }
        }

    }
    &__submit-button {
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    .cos-login-form {
        margin-top: 2%;
    }
}
